<!-- <p class="csl"><span style="color:#e34234">М</span>и1лости про1симъ во а4нгулzръ <span class="red">в7i.</span></p> -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let item of ystmRRR; index as i;">
      <div class="col-fluid">
        <a routerLink="/apr">
          <img class="float-right" src="{{item.url}}" alt="Aprakos">
          <span style="float: left; margin: 2em, 1em;">{{i+1}}. </span>
        </a>
        <p class="csl"><span class="red">{{bukvica}}</span>{{entrance}} <span class="red">{{item.num}}</span></p>
      </div>
    </div>
    
  </div>
  
  <!-- <router-outlet></router-outlet> -->