<style>
	@font-face {
        font-family: "Irmologion";
        font-display: auto;
        src: local("Clunya-IrmIEUcs"),
        url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
        font-weight: normal;
        font-style: normal;
}

  .csl {
    /* переопределение глобального класса `rrr` */
    font-size: 42px;
    color: black;
	font-family: Irmologion;
	
  }

</style>

<p class="csl"><span style="color:#e34234">М</span>и1лости про1симъ во а4нгулzръ <span class="red">в7i.</span></p>
