
@font-face {
  font-family: "Irmologion";
  font-display: auto;
  src: local("Clunya-IrmIEUcs"),
    url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
  font-weight: normal;
  font-style: normal;
}

.cntr {
  text-align: center;
}

.csl {
  /* переопределение глобального класса `rrr` */
  font-size: 42px;
  color: black;
  font-family: Irmologion;

}

.xxx {
  height: auto;
  box-shadow: 0px 0px 3px 2px  rgb(238, 238, 238);
  border-color:white;
  border-width: 1ch;
  margin: 0px 12px 12px 0px;
  background-color: rgb(255, 251, 251);
}
