<!-- <p class="csl"><span style="color:#e34234">М</span>и1лости про1симъ во а4нгулzръ <span class="red">в7i.</span></p> -->

<div class="row cntr">
  <div class="col-md-12" style="margin-top: 12%;">
    <img src="{{imageCross}}" alt="123">
  </div>
  <div class="col-sm-2">
    <!--  -->
  </div>
  <div class="col-sm-8 col-xxxl cntr">
    <p class="csl">
      <span class="red">{{bukvica}}</span>{{entrance}}<span class="red">{{numberok}} </span>
    </p>
  </div>
  <div class="col-sm-2">
    <!--  -->
  </div>
</div>
