.cntr {
  margin-top: 2.9rem;
  // margin-right: 50px;
}

.lft {

  float: left;
}

.rght {
  float: right;
}

#swapColor {
  opacity: 0.5;
}

.nav-item {
  padding-right: 17px;
  padding-bottom: 22px;
}

.nav-item a {
  display: inline-block;
  color: #2b64ce;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-item a:after {
  display: block;
  content: "";
  background-color: #e34234;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  width: 100%;
}

.currentYearCSL {
  padding-right: 3%;
}

.grd {

  background: rgb(227, 66, 52);
  background: linear-gradient(77deg, rgba(227, 66, 52, 1) 17%, rgba(255, 255, 255, 0) 77%, rgba(249, 0, 0, 0) 100%);
}

.ftr {
  width: 99%;
  height: 5rem;
  background-color: #cccccc22;
  color: #cccccc33;
  text-align: center;
  padding-top: 2.1%;
  margin-top: 7%;
}
