.cntr{
	margin-top: 2.9rem;
	// margin-right: 50px;
}

.lft {

	float: left;
}

.rght {
	float: right;
}

#swapColor {
	opacity: 0.5;
	border-radius: 24px 24px 24px 24px;
	background-color: #e34234;
}