<!-- <div class="navbar h300"> -->
<div class="container-fluid">
  <div class="row grd">
    <div class="col-1 h300 ">
      <div class="img-fluid">
      </div>
    </div>

    <div class="col namePage csl h300">
      <p>СІЙ ДЕ~НЬ</p>
    </div>

    <div class="col-3 h300 namePage currentYearCSL">
      <a id="swapColor" (click)="changeBGColor()">{{currentYearCSL}}</a>
    </div>
  </div>

  <div class="container pppp fontics h1">
    <div class="row">
      <div class="col">
        <nav class="nav">
          <li class="nav-item"><a routerLink="/ystm" class="active"> Ябо-система </a></li>
          <li class="nav-item"><a routerLink="/apr" class="active"> Aprakos </a></li>
          <li class="nav-item"><a routerLink="/easter" class="active"> Пасха </a></li>
          <li class="nav-item"><a routerLink="/rrr" class="active"> нет имени </a></li>
          <li class="nav-item"><a routerLink="/rrr" class="active"> нет имени </a></li>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <app-ystm-entrance></app-ystm-entrance> -->
<router-outlet></router-outlet>
