<div class="container-fluid">
  <div class="row grd">
    <div class="col-1 h300">
      <div class="img-fluid">
      </div>
    </div>

    <div class="col namePage csl h300 h1">
      <p>АПРАКОС</p>
      
    </div>

    <div class="col-3 h300 namePage currentYearCSL h2">
      <a id="swapColor" (click)="changeBGColor()">{{currentYearCSL}}</a>
    </div>
  </div>

  <div class="container pppp fontics h1">
    <div class="row">
      <div class="col">
        <nav class="nav">
          <!-- <li class="nav-item"><a routerLink="/ystm" class="active"> Ябо-система </a></li> -->
          <li class="nav-item"><a routerLink="/apr" class="active"> Апракос </a></li>
          <li class="nav-item"><a routerLink="/easter" class="active"> Пасхалия </a></li>
          <!-- <li class="nav-item"><a routerLink="/rrr" class="active"> default </a></li>
          <li class="nav-item"><a routerLink="/rrr" class="active"> default </a></li> -->
        </nav>
      </div>
    </div>
  </div>
</div>



<router-outlet>
  <!-- Здесь вывод компонента по пути -->
</router-outlet>



    <div class="col-fluid ystm-ftr">
      Yabo System © Third Millennium
    </div>
 