p {
  // font-size: 130%;
  padding: 7px 2px 4% 12px;
}

.black{
  color:#666
}
#zapstl,
#zevngl{
  // text-align: right;
  color: #e34234;
  font-size: 100%;
}

#apstl,
#evngl {
  padding: 7px 22px 4% 12px;
  // S:S: Требуется коррекция шрифта для глифа `†`. Происходит разрыв слова при установленном значении `juctify`. 
  text-align: justify
}  
