p {
  // font-size: 130%;
  padding: 7px 2px 4% 12px;
}

.black {
  color: #666;
}

#zapstl,
#zevngl {
  // text-align: right;
  color: #e34234;
  font-size: 100%;
}

#apstl,
#evngl {
  padding: 7px 22px 4% 12px;
  // text-align: justify
}
