@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
$ystm-fs: ( // collection variables
  a: 1em, // переменая со значением `1em` 
  v: 2em,
  g: 3em,
  d: v+v);

$fs-a: 3em;

// =-=-=-=-=-=-=-=-
// color pallete
// =-=-=-=-=-=-=-=-
$red: #e34234;

.red {
  color: $red;
}

.xxx {
  // class for tested items
  background-color: #f4f4f4;
  // box-shadow: 0px 0px 7px 0px #ff00008a;
  border-color: #867b7a;
  border-width: 1px;
  border-style: dashed;
  height: 20px;
}

.h300 {
  height: 7rem;
  background-color: #e34234;
}

.csl {
  font-size: $fs-a;
  color: $red;
}

/* Importing Bootstrap SCSS file. */
