<section class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of easterDates; index as i;">
      <div class="easterList fontics">
        <div>
          <span style="color:#2C87BF">{{ item.year }} </span><span id="rrr123" class="rrr123">&nbsp; <span
              style="color: #8F7161;">{{item.month}},</span> {{item.day }} &nbsp;</span> </div>
      </div>
    </div>
    <!-- <div class="col">
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus eius voluptatibus hic illum temporibus, sit amet iure, quibusdam ratione doloribus earum dolor dolores, mollitia quidem reprehenderit rerum. Rem, laborum praesentium?
	Nobis molestias earum aut officiis eum sit neque blanditiis. Quo deleniti expedita nemo ipsum minima excepturi quis neque ullam placeat quaerat, repudiandae doloremque at ipsa, laudantium quia ad dolor harum?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus eius voluptatibus hic illum temporibus, sit amet iure, quibusdam ratione doloribus earum dolor dolores, mollitia quidem reprehenderit rerum. Rem, laborum praesentium?
	Nobis molestias earum aut officiis eum sit neque blanditiis. Quo deleniti expedita nemo ipsum minima excepturi quis neque ullam placeat quaerat, repudiandae doloremque at ipsa, laudantium quia ad dolor harum?</p>
	</div> -->
  </div>
</section>
